<!DOCTYPE html>
<html>
<head>
    <title>Task Detail</title>
</head>
<body>
    <h1>Task Detail</h1>
    <hr>
    <h4>Task: {{ task.title }}</h4>
    <p>
        <strong>Description:</strong>
        {{ task.description}}
    </p>
    <p>
        <strong>Status :</strong>
        {{ task.status }}
    </p>
    <a href="{% url 'edit_task' task.pk %}">Edit Task</a>
    <br><br>
    <a href="{% url 'delete_task' task.id %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete Task</a>
    <br><br>
    <a href=" {% url 'task_list' %}">Back to Task List</a>
</body>
</html>